<a routerLink="/todolist"><button class="btn btn-success pull-right"> TO-Do List</button></a>
<a routerLink="/posts"><button class="btn btn-success pull-right"> POSTS</button></a>
<button type='button' (click)="create()">Create</button>
<div class="container">
    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[column.id]}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> EDIT </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button (click)="edit(row)" mat-button>EDIT</button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> DELETE </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button (click)="delete(row)" mat-button>DELETE</button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="redirection-popup" *ngIf="overlayFlag">
        <h3 *ngIf="!header">EDIT USERS</h3>
        <h3 *ngIf="header">CREATE USERS</h3>
        <div class="redirection-content">
            <form [formGroup]="userform" (ngSubmit)="$event.preventDefault()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="label-text">Name</label>
                        <input appSpecialCharacter type="text" formControlName="fullName" id="fullName" name="fullName"
                            required maxlength="254"
                            class="form-control {{formControls.fullName.touched && formControls.fullName.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.fullName.dirty && formControls.fullName.invalid"
                            class="error">
                            <span *ngIf="formControls.fullName.errors?.required" class="error-msg">This field cannot be
                                blank</span>
                            <span
                                *ngIf="formControls.fullName.errors?.pattern && !formControls.fullName.errors?.required"
                                [hidden]="formControls.fullName.errors?.minlength || formControls.fullName.errors?.maxlength"
                                class="error-msg">Doesn’t look like a name</span>
                            <span *ngIf="formControls.fullName.errors?.minlength" class="error-msg">Please enter at
                                least
                                2 characters</span>
                            <span *ngIf="formControls.fullName.errors?.maxlength" class="error-msg">Name cannot be
                                greater than
                                150 characters</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="label-text">Username</label>
                        <input type="text" maxlength="50" formControlName="Username" name="Username" id="Username"
                            required
                            class="form-control {{formControls.Username.touched && formControls.Username.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.Username.dirty && formControls.Username.invalid"
                            class="error">
                            <span *ngIf="formControls.Username.errors?.required" class="error-msg">This field
                                cannot be blank</span>
                            <span *ngIf="formControls.Username.errors?.minlength" class="error-msg">Please enter at
                                least
                                2 characters</span>
                            <span *ngIf="formControls.Username.errors?.maxlength" class="error-msg">Username cannot be
                                greater than
                                50 characters</span>
                            <span *ngIf="formControls.Username.errors?.pattern" class="error-msg">Please enter a valid
                                Username</span>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="label-text">Email ID</label>
                        <input type="email" maxlength="50" formControlName="email" name="email" id="email" required
                            class="form-control {{formControls.email.touched && formControls.email.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.email.touched && formControls.email.invalid"
                            class="error">
                            <span *ngIf="formControls.email.errors?.required" class="error-msg">This field cannot be
                                blank</span>
                            <span *ngIf="formControls.email.errors?.pattern" class="error-msg">Please enter a valid
                                Email
                                ID</span>
                        </div>
                    </div>
                </div>
                <label class="label-text-style">Address:</label>
                <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label class="label-text">Street</label>
                        <input type="text" maxlength="50" formControlName="street" name="street" id="street" required
                            class="form-control {{formControls.street.touched && formControls.street.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.street.touched && formControls.street.invalid"
                            class="error">
                            <span *ngIf="formControls.street.errors?.required" class="error-msg">This field
                                cannot be blank</span>
                            <span *ngIf="formControls.street.errors?.pattern" class="error-msg">Please enter a valid
                                Street</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="label-text">Suite</label>
                        <input type="text" maxlength="50" formControlName="suite" name="suite" id="suite" required
                            class="form-control {{formControls.suite.touched && formControls.suite.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.suite.touched && formControls.suite.invalid"
                            class="error">
                            <span *ngIf="formControls.suite.errors?.required" class="error-msg">This field
                                cannot be blank</span>
                            <span *ngIf="formControls.suite.errors?.pattern" class="error-msg">Please enter a valid
                                Suite</span>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="label-text">City</label>
                        <input type="text" maxlength="50" formControlName="city" name="city" id="city" required
                            class="form-control {{formControls.city.touched && formControls.city.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.city.touched && formControls.city.invalid" class="error">
                            <span *ngIf="formControls.city.errors?.required" class="error-msg">This field
                                cannot be blank</span>
                            <span *ngIf="formControls.city.errors?.pattern" class="error-msg">Invalid field</span>
                            <span *ngIf="formControls.city.errors?.maxlength" class="error-msg">City cannot
                                be greater than 200 characters</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-text">Zipcode</label>
                        <input appNumbersOnly type="tel" maxlength="10" formControlName="zipcode" id="zipcode" required
                            name="zipcode"
                            class="form-control {{formControls.zipcode.touched && formControls.zipcode.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.zipcode.touched && formControls.zipcode.invalid"
                            class="error">
                            <span *ngIf="formControls.zipcode.errors?.required" class="error-msg">This field cannot be
                                blank</span>
                            <span *ngIf="formControls.zipcode.errors?.pattern" class="error-msg">Please enter a valid
                                zipCode</span>
                            <span *ngIf="formControls.zipcode.errors?.maxlength" class="error-msg">ZipCode cannot
                                be greater than 50 characters</span>
                        </div>
                    </div>
                </div>
                <label class="label-text-style">Geo Location:</label>
                <div class="form-row">
                    <div class="form-group">
                        <label class="label-text">lat</label>
                        <input appNumbersOnly type="tel" maxlength="10" formControlName="lat" id="lat" name="lat"
                            required
                            class="form-control {{formControls.lat.touched && formControls.lat.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.lat.touched && formControls.lat.invalid" class="error">
                            <span *ngIf="formControls.lat.errors?.required" class="error-msg">This field cannot be
                                blank</span>
                            <span *ngIf="formControls.lat.errors?.maxlength" class="error-msg">Latitude cannot
                                be greater than 10 characters</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-text">lng</label>
                        <input appNumbersOnly type="tel" maxlength="10" formControlName="lng" id="lng" name="lng"
                            required
                            class="form-control {{formControls.lng.touched && formControls.lng.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.lng.touched && formControls.lng.invalid" class="error">
                            <span *ngIf="formControls.lng.errors?.required" class="error-msg">This field cannot be
                                blank</span>
                            <span *ngIf="formControls.lng.errors?.maxlength" class="error-msg">Longitude cannot
                                be greater than 10 characters</span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="label-text">Phone</label>
                        <input appNumbersOnly type="tel" formControlName="mobile" id="mobile" name="mobile" required
                            class="form-control {{formControls.mobile.touched && formControls.mobile.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.mobile.touched && formControls.mobile.invalid"
                            class="error">
                            <span *ngIf="formControls.mobile.errors?.required" class="error-msg">This field cannot be
                                blank</span>
                            <span *ngIf="formControls.mobile.errors?.maxlength" class="error-msg">Phone Number cannot
                                be greater than 30 characters</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="label-text">Website</label>
                        <input type="text" maxlength="50" formControlName="Website" name="Website" id="Website" required
                            class="form-control {{ formControls.Website.touched && formControls.Website.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.Website.touched && formControls.Website.invalid"
                            class="error">
                            <span *ngIf="formControls.Website.errors?.required" class="error-msg">This field
                                cannot be blank</span>
                            <span *ngIf="formControls.Website.errors?.pattern" class="error-msg">Please enter a valid
                                Website Name</span>
                        </div>
                    </div>
                </div>
                <label class="label-text-style">Company:</label>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="label-text">Name</label>
                        <input type="text" maxlength="50" formControlName="compName" name="compName" id="compName"
                            required
                            class="form-control {{ formControls.compName.touched && formControls.compName.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.compName.touched && formControls.compName.invalid"
                            class="error">
                            <span *ngIf="formControls.compName.errors?.required" class="error-msg">This field
                                cannot be blank</span>
                            <span *ngIf="formControls.compName.errors?.pattern" class="error-msg">Invalid field</span>
                            <span *ngIf="formControls.compName.errors?.maxlength" class="error-msg">Company Name cannot
                                be greater than 70 characters</span>
                            <span
                                *ngIf="!formControls.compName.errors?.required && !formControls.compName.errors?.pattern && !formControls.compName.errors?.maxlength && formControls.compName.errors?.minlength"
                                class="error-msg">Company Name cannot
                                be less than 2 characters</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="label-text">Catch Phrase</label>
                        <input type="text" maxlength="50" formControlName="catchPhrase" name="catchPhrase"
                            id="catchPhrase" required
                            class="form-control {{ formControls.catchPhrase.touched && formControls.catchPhrase.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.catchPhrase.touched && formControls.catchPhrase.invalid"
                            class="error">
                            <span *ngIf="formControls.catchPhrase.errors?.required" class="error-msg">This field
                                cannot be blank</span>
                            <span *ngIf="formControls.catchPhrase.errors?.pattern" class="error-msg">Invalid
                                field</span>
                            <span *ngIf="formControls.catchPhrase.errors?.maxlength" class="error-msg">Catch Phrase
                                cannot
                                be greater than 150 characters</span>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="label-text">bs</label>
                        <input type="text" maxlength="50" formControlName="bs" name="bs" id="bs" required
                            class="form-control {{formControls.bs.touched && formControls.bs.invalid ? 'error-border' : ''}}">
                        <div *ngIf="submitted || formControls.bs.touched && formControls.bs.invalid" class="error">
                            <span *ngIf="formControls.bs.errors?.required" class="error-msg">This field
                                cannot be blank</span>
                            <span *ngIf="formControls.bs.errors?.pattern" class="error-msg">Invalid field</span>
                            <span *ngIf="formControls.bs.errors?.maxlength" class="error-msg">bscannot
                                be greater than 150 characters</span>
                        </div>
                    </div>
                </div>
                <button (click)="save(formControls)" class="default-btn">SAVE</button>
                <button (click)="cancel()" class="default-btn">CANCEL</button>
            </form>
        </div>
    </div>
</div>